<h1>Editing student score</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", @student, class: '#372f2fBF'%> |
  <%= link_to "Back to students", students_path %>
</div>